@import url("./common.css");

header {
  display: flex;
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  box-shadow: 0 3px 5px lightgrey;
  padding: 0 3em;
  margin-bottom: 2em;
}

a {
  display: block;
  width: fit-content;
  padding: 0.7em 1em;
  border-bottom: 0.2em solid white;
  text-decoration: none;
  color: white;
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: rgb(223 223 223);
}

.user-info p {
  text-transform: capitalize;
}

.user-info .user-image {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: white;
  /* opacity: 0.4; */
  margin-left: 0.7em;
}

.profileImg {
  width: 100%;
  height: 100%;
}

#closeApp {
  margin-left: 15px;
  font-size: 0.7em;
  background-color: rgb(218 88 88);
  color: white;
  border-radius: 50vh;
  padding: 5px 10px;
  cursor: pointer;
}

/* Nova tarefa ----------------------------------------------------------- */

.newTask-form {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  width: 80%;
  margin: 0 10%;
  padding: 1em;
  box-shadow: 2px 2px 10px lightgrey;
  border-radius: 0.2em;
  z-index: 20;
}

.input-validation {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input-validation small {
  font-size: 10px;
  color: red;
}

.newTask-form input[type="text"] {
  border: none;
  flex: 1;
  border-bottom: 1px solid lightgrey;
  border-radius: 0;
  padding: 0.3em;
  font-size: 1.1em;
}

.newTask-form input:focus {
  outline: none;
  border-bottom: 1px solid grey;
}

.newTask-form input::placeholder {
  color: rgb(197 197 197);
  text-indent: 0.2em;
}

.newTask-form button {
  height: 2em;
  width: 2em;
  background-color: transparent;
  margin-left: 2em;
  margin-right: 1em;
  opacity: 0.5;
  cursor: no-drop;
}

.newTask-form button:enabled {
  cursor: pointer;
}

.newTask-form button:enabled:hover {
  opacity: 1;
}

.newTask-form button img {
  height: 100%;
  width: 100%;
}

.not-done {
  width: 2em;
  height: 2em;
  background-color: var(--app-grey);
  margin-right: 1em;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  color: grey;
}

/* Lista de tarefas ----------------------------------------------------------- */

.pending-tasks {
  display: flex;
  flex-direction: column;
  width: 70%;
  list-style: none;
  margin: 2em 15%;
}

.task-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}

.task-container .not-done {
  position: relative;
  height: 1.5em;
  width: 1.5em;
  background-color: white;
  box-shadow: 2px 2px 5px lightgrey;
  border: 2px solid var(--secondary);
  z-index: 2;
  transition: background-color 200ms linear;
}

.task-container .not-done:hover {
  background-color: var(--secondary);
}

.task-container:first-child .not-done::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: calc(0.75em - 1px);
  display: block;
  height: 3em;
  width: 2px;
  background-color: var(--secondary);
}

.task-container:not(:last-child) .not-done::after {
  content: "";
  position: absolute;
  top: 100%;
  left: calc(0.75em - 1px);
  display: block;
  height: 4.5em;
  width: 2px;
  background-color: var(--secondary);
}

.task-container .description-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  background-color: white;
  padding: 1em 2em;
  box-shadow: 2px 2px 5px lightgrey;
}

.task-container .name-element {
  color: rgb(95 95 95);
  flex-grow: 1;
}

.task-container .timestamp {
  font-size: 0.9em;
  color: rgb(134 134 134);
}

.delete {
  height: 2em;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
  margin-left: 2.5em;
}

.delete:hover {
  opacity: 1;
}

.edit {
  height: 2em;
  width: 2em;
  background-color: transparent;
  margin-left: 2.5em;
  opacity: 0.5;
  cursor: pointer;
}

.edit:hover {
  opacity: 1;
}

#sendButton img, #cancelButton img {
  width: 1em;
  height: 1em;
  margin-left: 0.6em;
  opacity: 0.5;
}

#sendButton, #cancelButton {
  background-color: transparent;
}

#name {
  border: none;
  border-bottom: 1px solid gainsboro;
  font-family: 'Lato', sans-serif;
  color: rgb(95 95 95);
  font-size: 0.9em;
}

#name:focus {
  outline: none;
  border-bottom: 1px solid grey;
}

#name::placeholder{
  color: lightgrey
}

/* Tarefas terminadas ----------------------------------------------------------- */

.finishedTasks-title {
  position: relative;
  width: 8em;
  text-align: center;
  padding: 0.5em 1em;
  background-color: white;
  border-radius: 0.2em;
  box-shadow: 3px 3px 5px lightgrey;
  color: rgb(170 170 170);
  font-weight: 400;
  font-size: 1.1em;
  margin-left: calc(15% - 4em);
  z-index: 20;
}

.finishedTasks {
  display: flex;
  flex-direction: column;
  width: 70%;
  list-style: none;
  margin: 2em 15%;
}

.finishedTasks i {
  color: grey;
  background-color: rgb(228 228 228);
}

.finishedTasks button {
  margin-left: 10px;
}

.finishedTasks .task-container .not-done {
  background-color: var(--secondary);
}

.finishedTasks .task-container .not-done:hover {
  background-color: white;
}

.finishedTasks .task-container .description-container {
  background-color: rgb(228 228 228);
}

.finishedTasks .task-container .description-container .name-element {
  color: grey;
  text-decoration: line-through;
}

.skeleton .description-container {
  background-color: rgb(189 189 189);
}

.skeleton p {
  background-color: rgb(214 214 214);
  color: rgb(214 214 214);
}

.skeleton .not-done {
  background-color: rgb(189 189 189);
}

.skeleton {
  animation: trasparencia 1s infinite;
}

@keyframes trasparencia {
  0% { opacity: 0.5; }
  100% { opacity: 0.8; }
}


@media (max-width: 540px) {
  header{
    width: 100%;
    justify-content: space-around;
    padding: 0 0.4em;
  }
  .user-info{
    margin-left: 1.5em;
  }
  .task-container {
    max-width: 15em;
  }
  .newTask-form{
    margin-left: 1.5em;
  }
  .pending-tasks, .finishedTasks{
    margin: 1.5em 5%;
  }
  .edit, .delete{
    margin-left: 13px;
    width: 0.7em;
    height: 0.7em;
  }
  .newTask-form input {
    max-width: 100%;
  }
  .newTask-form button {
    max-width: 1.4em;
    max-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.1em;
  }
  .newTask-form .not-done {
    max-width: 1.7em;
    max-height: 1.7em;
    margin-left: 0;
    margin-right: 0.4em;
  }
  .task-container .description-container {
    min-width: 14.5em;
  }
  .task-container .name-element {
    margin-right: 1.5em;
    max-width: 7em;
    flex-shrink: 1;
    flex-basis: 200px;
  }
  .task-container .timestamp {
    font-size: 0.8em;
    margin-right: 0;
    max-width: 5em;
  }
  li .description-container {
    max-width: 15em;
    padding: auto;
  }
  #closeApp, #userName {
    text-align: center;
  }
}